body{
    background-color: aquamarine;
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif;
}

header {
    position: relative;
    text-align: center;
    color: whitesmoke;
    padding: 25px;
    background-color: #084929;
}

nav {
    background-color: #286666;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    position: sticky;
    top: 0;
    z-index: 1000;
}

 nav a{
    color: rgb(30, 20, 10);
    text-decoration: none;
    margin-left: 20px;
    background-color: rgb(39, 161, 126);
    border-radius: 30px;
    padding: 10px;
    font-weight: bold;

}

nav a:hover{
    background-color:burlywood;
    text-decoration: underline;
}

section{
    background-color: aliceblue;
    margin: 20px;
    padding: 15px;
    border-radius: 40px;
    box-shadow: 2px 2px 5px ;
    transition: transform 1s linier;
}

section:hover{
    background-color: beige;
    transform: scale(1.01,1.01);
}

footer {
    background-color: #286666;
    color: rgb(245, 241, 241);
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    font-size: 15px;
}

section h3{
    color: rgb(3, 44, 8);
}